* {
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 10%;
    display: block;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
}
.color-container {
    width: 100%;
}


.color-panel {
    display: inline-block;
    text-align: center;
    width: 32%;
    margin: 20px auto;
    min-height: 100px;
    color: #000;
}
.pink {
    background-color: #d957d9;
    
}
.mint-green {
    background-color:#4fe0b0;
}

.beige {
    background-color: #efd9ca;
}

.font-panel {
    width: 45%;
    display: inline-block;
}
.font-label {
    font-size: 20px;
    text-decoration: underline;
}
h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.source-code-pro {
    font-family: 'Source Code Pro', monospace;
}
.nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
}

h4 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: normal;
}
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Nunito Sans', sans-serif;
}

.text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}